@font-face {
    font-family: 'Rubik';
    src: url('./Rubik.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'Rubik';
    background: url('./icon.png');
}